@import "main.css";


body {
    font-family:Cambria;
    color: #686868;
    font-size: 13px;
    margin: 0;
    padding:0;
    background-color: #dcdcdc;

}

#wrapper {
    position: relative;
    background: #fff;
    width: 90%;
    height: 850px;
    left: 5%;
    top:20px;   
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);

}

.contact_form {
/*    background-color:red;*/
    top: 30px; 
    position: relative; 
    height:760px;
    width:45%;
    float: right;
    right:270px;

}


.contact_form_list li {
    
    font-family: Segoe UI;
    font-size: 18px;
    /*font-weight:bold;*/
    font-color:#373737;
    list-style: none outside none;
    margin: 0;
    padding:2px;
    line-height: 50px;

    
    }

.contact_form_list li > input {

    width:250px;
    padding: 5px;
    height:30px;
    border:1px solid #c4c4c2;
    margin-bottom: 20px;
   /* padding-bottom: 20px; */
    /*transition: all 450ms ease-in-out 0s;*/

}    

.top_labels {
    font-size: 24px;
    font-weight: bold;
    font-size:24px;
    font-family:Segoe UI;
    color:#373737;


}

.push_button{
    position: relative;
    width:200px;
    color:#FFF;
    display:block;
    text-decoration:none;
    margin:0 auto;
    border-radius:2px;
    border:solid 1px #373737;
    background:#373737;
    text-align:center;
    padding:20px 20px;
    right: 20px;
    

    transition: all 0.1s;
    
        box-shadow: 0px 7px 0px #686868;
}

.push_button:hover  {
     background: #302f2f;
     box-shadow:#302f2f;
}

.push_button:active {

    box-shadow: 0px 2px 0px #686868;
    position:relative;
    top:7px;
}

