@import url(http://fonts.googleapis.com/css?family=Montserrat);
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);


@font-face {
  font-family: 'BebasNeue';
  src: url('BebasNeue_0.otf'); /* IE9 Compat Modes */
}

body, html {
	height: 100%;
	width: 100%;
}

body, h1, h2, h3, h4, h5, h6 {
	font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 700;
}

.lead {
	font-size: 18px;
	font-weight: 400;
}

.intro-header {
	padding-top: 10px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
	padding-bottom: 10px;
	color: #f8f8f8;
	background-image: linear-gradient(45deg, #d0d4ec, #a2a9fe);
	background-size: cover;
	text-align: center;
}

.intro-message {
	position: relative;
	padding-top: 20%;
	padding-bottom: 20%;
}

.intro-message > h1 {
margin: 10px 0px;
display: inline-block;
padding: 5px 12px 10px 12px;
font-family: 'Oswald', sans-serif;
color: #FFF;
font-size: 8em;
line-height: 73px;
font-weight: 100;
text-align: center;
letter-spacing: 1px;
text-transform: uppercase;

/*	margin: 0;
	font-size: 6em;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);*/
}

.intro-divider {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.intro-message > h3::before {
content: "";
position: absolute;
background: #fff;
width: 12%;
height: 8px;
top: 21%;
left: 25%;
}

.intro-message > h3::after {
content: "";
position: absolute;
background: #fff;
width: 12%;
height: 8px;
top: 21%;
right: 25%;
}

.intro-message > h3 {
	font-family: 'Oswald', sans-serif;
	font-weight: lighter;
	font-style: italic;
	letter-spacing:2px;
	font-style: uppercase;
	color: #FFF;
	font-size: 1.3em;
}

@media (max-width: 767px) {
	.intro-message {
		padding-bottom: 15%;
	}

	.intro-message > h1 {
		font-size: 6em;
	}

	ul.intro-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.intro-social-buttons > li:last-child {
		margin-bottom: 0;
	}

	.intro-divider {
		width: 100%;
	}

}

.network-name {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 2px;
}

.content-section-a {
	background-color: #fff;
	padding: 30px 0;
}

.content-section-b {
/*	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;*/
	background-color: #fff;
	padding: 50px 0;
}

.content-section-c {
/*	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;*/
	background-color: #fff;


}
.content-section-d {
/*	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;*/

	/*padding-left: 50px;*/
}
.content-section-e {
/*	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;*/
	background-color: #fff;
	
}

.content-section-f {
/*	border-top: 1px solid #e7e7e7;
	border-bottom: 1px solid #e7e7e7;*/
	background-color: #fff;

}


.section-heading {
	margin-bottom: 30px;
}

.section-heading-spacer {
	border-top: 3px solid #e7e7e7;
	width: 200px;
	float: left;
}

.banner {
	padding: 100px 0;
	color: #f8f8f8;
	background: url(../img/banner-bg.jpg) no-repeat center center;
	background-size: cover;
}

.banner h2 {
	margin: 0;
	text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
	font-size: 3em;
}

.banner ul {
	margin-bottom: 0;
}

.banner-social-buttons {
	float: right;
	margin-top: 0;
}

@media (max-width: 1199px) {
	ul.banner-social-buttons {
		float: left;
		margin-top: 15px;
	}

	.intro-message > h3::before {
	width: 15%;
	top: 20%;
	left: 19%;
	}

	.intro-message > h3::after {
	width: 15%;
	top: 20%;
	right: 19%;
	}	
}

@media (max-width: 767px) {
	.banner h2 {
		margin: 0;
		text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.6);
		font-size: 1em;
	}

	ul.banner-social-buttons > li {
		display: block;
		margin-bottom: 20px;
		padding: 0;
	}

	ul.banner-social-buttons > li:last-child {
		margin-bottom: 0;
	}

		.intro-message > h3::before {
	width: 10%;
	top: 20%;
	left: 75%;
	}

	.intro-message > h3::after {
	width: 10%;
	top: 20%;
	right: 75%;
	}	
}

@media (max-width: 660px) {

	.intro-message > h3::before {
	width:5%;
	top: 60%;
	left: 15%;
	}

	.intro-message > h3::after {
	width: 10%;
	top: 20%;
	right: 75%;
	}	

		.intro-message > h1 {
		font-size: 5.5em;
	}
}


@media (max-width: 659px) {

	.intro-message > h3::before {
	width:5%;
	top: 20%;
	left: 15%;
	}

	.intro-message > h3::after {
	width: 5%;
	top: 20%;
	right: 15%;
	}	

	.intro-message > h1 {
		font-size: 4.9em;
	}
}
footer {
	background-color: #f8f8f8;
	padding: 50px 0;
}

p.copyright {
	margin: 15px 0 0;
}