@import url(http://fonts.googleapis.com/css?family=Montserrat);

body, html {
  height: auto;
  overflow: auto;
}
body { 
  background-color:#FBFCD0;
  color: #fff;
  font-family: 'Montserrat';
  text-align: center;
  margin: 0;
}


.border {
  position: fixed;
  z-index: 100;
  background: #FCF7FA;
}

.border.top {   width: 105%;   height: 20px; top: 0px; margin-left: -20px; }
.border.bottom { width: 105%;   height: 20px; bottom: 0px }
.border.right {  height: 105%;   width: 20px; right: 0px }
.border.left {   height: 105%;   width: 20px;left: 0px; margin-top: -20px; }

.headcontainer  {  
  padding-top: 10px;
  display: block;
  width: 100%;
  height: 400px;
  background-image:url('twinkie1.jpg');
  background-repeat:no-repeat;
  background-color:#FFE545;
  background-size: cover;
  position:relative;
  z-index: 2;

}

.midcontainer  {  
  display: block;
  position:absolute;
  width: 100%;
  height: 480px;
  background-color:#FF7149;
  z-index: 1;
}

.divider {
  display: block;
  margin: 5px auto;
  width: 50%;
  height: 1px;
  border-top: rgba(0, 0, 0, 0.1) 1px solid;
  border-bottom: rgba(255, 255, 255, 0.2) 1px solid; 
}

.main_nav {
list-style: none;
display: block;
margin: 0;
text-align: center;
}

.main_nav li{
list-style: none;
display:inline-block;
margin: 5px 15px;
text-align: center;
}

 .main_nav a {
    display: block;
    width: 95px;
    padding: 15px 0;
    color: #fff;
    font-size: 2.25em;
    text-decoration: none;
    text-shadow: none;
    border-radius: 3px;
    transition: all 0.1s ease-in-out; 
  }
.main_nav a:hover {
color: #fff;
background: #f1c40f; }

.main_nav .label {
display: block;
clear: both;
font-size: 0.5em; }

#typed-cursor{
    opacity: 1;
    font-weight: 100;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    -ms-animation: blink 0.7s infinite;
    -o-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-ms-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-o-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fading {
    0%   { background: #f1c40f; }
    33%  { background: #1abc9c; }
    66%  { background: #9b59b6; }
    100% { background: #e74c3c; }
}


@-webkit-keyframes opacityfading {
    0%   { opacity: 0; }
    33%  { opacity: 1; }
    66%  { opacity: 0; }
    100% { opacity: 1; }
}

