@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Raleway:400,200);

.about_me_header  {

font-family: 'Raleway', sans-serif;
color: #a2a9fe;
font-size: 1.5em;
font-weight: 200;
text-align: left;
letter-spacing: 1.5px;
text-transform: uppercase;
border-bottom: 1px solid #e7e9e1;
}

ul li {
  list-style:none;
  overflow:hidden;

}

/*
.about_me_header::after  {

content: "";
position: absolute;
background: #e7e9e1;
width: 75%;
height: 4px;
top: 15.5%;
left: 26%;
}*/

p {

color: #393b45;
font-size: 1.3em;
font-weight: 500;
text-align: left;

}

.content-section-b  p {
color:#fff;
font-family: 'Raleway', sans-serif;
font-size: 1.3em;
font-weight: 500;
text-align: center;
letter-spacing: 1.5px;
text-transform: uppercase;
}

.content-section-b [class^="timePosted"]{font-size: 1em;text-transform: lowercase;color: #959ce2;}

.content-section-b  a {
color:#a2a9fe;
}

.tweets_header  {
border-bottom: 1px solid #e7e9e1;
font-family: 'Raleway', sans-serif;
color: #a2a9fe;
font-size: 1.5em;
font-weight: 200;
text-align: left;
letter-spacing: 1.5px;
text-transform: uppercase;

}


/*.tweets_header::after  {

content: "";
position: absolute;
background: #e7e9e1;
width: 83%;
height: 4px;
top: 13.5%;
left: 19%;

}*/

.resume_header	{
border-bottom: 1px solid #e7e9e1;
font-family: 'Raleway', sans-serif;
color: #a2a9fe;
font-size: 1.5em;
font-weight: 200;
text-align: left;
letter-spacing: 1.5px;
text-transform: uppercase;


}

/*.resume_header::after  {

content: "";
position: absolute;
background: #e7e9e1;
width: 83%;
height: 4px;
top: 3%;
left: 25%;

}*/

.download_my_cv	{
border-bottom: 1px solid #e7e9e1;
font-family: 'Raleway', sans-serif;
color: #a2a9fe;
font-size: 1.5em;
font-weight: 200;
text-align: left;
letter-spacing: 1.5px;
text-transform: uppercase;

}

/*.download_my_cv:after	{

content: "";
position: absolute;
background: #e7e9e1;
width: 45%;
height: 4px;
top: 15%;
left: 50%;

}*/


.download_cv_button{

	background-color: #fff;
	text-transform: uppercase;
	font-family: font-family: 'Raleway', sans-serif;
	font-weight: 300;
	font-size: 20px;
	padding: 15px;
	color: #a2a9fe;
	border:1px solid #a2a9fe;
	border-radius: 5%;


}

.download_cv_button:hover{

	background-color: #a2a9fe;
	color: #fff;
	transition-duration: .5s;

}


.skills_header	{

font-family: 'Raleway', sans-serif;
color: #a2a9fe;
font-size: 1.5em;
font-weight: 200;
text-align: left;
letter-spacing: 1.5px;
text-transform: uppercase;
border-bottom: 1px solid #e7e9e1;
}

/*.skills_header:after	{

content: "";
position: absolute;
background: #e7e9e1;
width: 72%;
height: 4px;
top: 11%;
left: 20%;

}*/

.portfolio_header {

font-family: 'Raleway', sans-serif;
color: #a2a9fe;
font-size: 1.5em;
font-weight: 200;
text-align: center;
letter-spacing: 1.5px;
text-transform: uppercase;
border-bottom: 1px solid #e7e9e1;


}

/*.portfolio_header:before	{

content: "";
position: absolute;
background: #e7e9e1;
width: 43%;
height: 4px;
top: 5%;
left: 56%;

}
.portfolio_header:after	{

content: "";
position: absolute;
background: #e7e9e1;
width: 41%;
height: 4px;
top: 5%;
right: 56%;

}*/


/*SLIDER STYLES*/

.header_description	{

font-family: 'Oswald', sans-serif;
color: #a2a9fe;
font-size: 1.5em;
font-weight: 100;
text-align: left;

letter-spacing: 1.5px;
text-transform: uppercase;
	
}

.twitter_reply_icon,.twitter_retweet_icon,.twitter_fav_icon {
	display:none;
}


.actual_description	{

color: #393b45;
font-family: 'Raleway', sans-serif;
font-size: 1em;
font-weight: 500;
text-align: left;
}
#slideshow_img{

    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}



.contact_header	{

font-family: 'Raleway', sans-serif;
color: #a2a9fe;
font-size: 1.5em;
font-weight: 200;
text-align: left;
letter-spacing: 1.5px;
text-transform: uppercase;
border-bottom: 1px solid #e7e9e1;
}
/*
.contact_header:after	{

content: "";
position: absolute;
background: #e7e9e1;
width: 55%;
height: 4px;
top: 12%;
left: 35%;

}*/

/*.contact_deets p{
	position: relative;
	left: 10%;
}*/


.contact_deets [class^="icon-"]:before, [class*=" icon-"]:before {

display: inline-block; 
font-size: 1em;
width: 2.5em;
margin-right: .2em;
text-align: left;
position: relative;
top: 0px;
left: 0px;
background-color: #a2a9fe;

}
.social_header{
font-family: 'Raleway', sans-serif;
color: #a2a9fe;
font-size: 1.5em;
font-weight: 200;
text-align: left;
letter-spacing: 1.5px;
text-transform: uppercase;
border-bottom: 1px solid #e7e9e1;
}
/*.social_header:before{
content: "";
position: absolute;
background: #e7e9e1;
width: 42%;
height: 4px;
top: 18%;
left: 58%;
}*/
.social_deets{	text-align: center;}
.social_deets h2 {	padding-top: 50px;}
.social_deets a { text-decoration: none;  filter: grayscale(100%); -webkit-filter: grayscale(100%);  /* For Webkit browsers */   filter: gray;  /* For IE 6 - 9 */    -webkit-transition: all .6s ease;  /* Transition for Webkit browsers */}

.social_deets [class^="icon-"]:before, [class*=" icon-"]:before {

display: inline-block; 
font-size: 1em;
width: 3.2em;
margin-right: .2em;
text-align: center;
position: relative;
top: 0px;
left: 0px;
background-color: #e7e9e1;
border-radius: 50%; 
border: 5px solid #fff; 

}

.social_deets [class^="icon-facebook"]:before{
	background-color:#3B5998;
}

.social_deets [class^="icon-tumblr"]:before{
	background-color:#00225F;
}

.social_deets [class^="icon-twitter"]:before{
	background-color:#4099FF;
}

.social_deets [class^="icon-linkedin"]:before{
	background-color:#0e76a8;
}

.social_deets a:hover { filter: grayscale(0%);    -webkit-filter: grayscale(0%);    filter: none;}

/**************SKILL BAR************/

.skillbar {
	position:relative;
	display:block;
	margin-bottom:15px;
	width:100%;
	background:#eee;
	height:35px;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-webkit-transition:0.4s linear;
	-moz-transition:0.4s linear;
	-ms-transition:0.4s linear;
	-o-transition:0.4s linear;
	transition:0.4s linear;
	-webkit-transition-property:width, background-color;
	-moz-transition-property:width, background-color;
	-ms-transition-property:width, background-color;
	-o-transition-property:width, background-color;
	transition-property:width, background-color;
}

.skillbar-title {
	position:absolute;
	top:0;
	left:0;
	width:110px;
	font-weight:bold;
	font-size:13px;
	color:#ffffff;
	background:#6adcfa;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-title span {
	display:block;
	background:rgba(0, 0, 0, 0.1);
	padding:0 20px;
	height:35px;
	line-height:35px;
	-webkit-border-top-left-radius:3px;
	-webkit-border-bottom-left-radius:3px;
	-moz-border-radius-topleft:3px;
	-moz-border-radius-bottomleft:3px;
	border-top-left-radius:3px;
	border-bottom-left-radius:3px;
}

.skillbar-bar {
	height:35px;
	width:0px;
	background:#6adcfa;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
}

.skill-bar-percent {
	position:absolute;
	right:10px;
	top:0;
	font-size:11px;
	height:35px;
	line-height:35px;
	color:#ffffff;
	color:rgba(0, 0, 0, 0.4);
}

