.container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 0 15px;
  &--timeline,&--contributions {
    padding: 30px 60px;
    color: #ffffff;

    background-image: url('./bg-isobar.png');
  }
  &--timeline {
    background-color:$color-primary;
  }
  &--contributions {
    background-color:$color-primary-light;
     h2 {
       font-weight: 500;
      color: #ffffff;
    }
  }
}