.container {
  display: flex;
  justify-content: space-between;
}

.column {
  flex: 1;
  padding: 0 15px;
  display: flex;
  flex-wrap: wrap;
  &--full-width {
    width: 100%;
    flex: unset;
  }
  &--featured-projects {
    width: 50%;
    flex: 0 0 auto;
    padding: 0;
  }
  &--projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    overflow: hidden;
  }
}