doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel="stylesheet" href="../app/css/styles.css")
        script(rel="script" src="../app/scripts/require.js" data-main="scripts/main")

    body#test
        .container#barba-wrapper
            .barba-container(data-prev="index.html")
                .row
                    p="here"
                    a.nav.prev(href='index.html') PREV


