
.rotate-10 {
  transform: rotate(10deg);
}

.rotate-30 {
  transform: rotate(30deg);
}

.rotate-50 {
  transform: rotate(50deg);
}

.rotate-70 {
  transform: rotate(70deg);
}

.rotate-90 {
  transform: rotate(90deg);
}

.rotate-110 {
  transform: rotate(110deg);
}

.left-20 {
  left: 20%;
}

.left-30 {
  left: 30%;
}

.left-40 {
  left: 40%;
}

.left-45 {
  left: 45%;
}

.left-50 {
  left: 50%;
}

.left-65 {
  left: 65%;
}

.left-35 {
  left: 35%;
}

.left-80 {
  left: 80%;
}

.left-100 {
  left: 100%;
}

.bottom-20 {
  bottom: 20%;
}

.bottom-30 {
  bottom: 30%;
}

.bottom-40 {
  bottom: 40%;
}

.bottom-45 {
  bottom: 45%;
}

.bottom-50 {
  bottom: 50%;
}

.bottom-65 {
  bottom: 50%;
}

.bottom-80 {
  bottom: 80%;
}

.bottom-95 {
  bottom: 95%;
}