.intro {
  &__wrapper {
    padding-top: 8.75rem;
  }
  &__left {
    font-family: 'Merriweather', serif;
    font-size: 3.75rem;
    font-weight: 700;
  }
  &__right {
    font-size: 1.375rem;
    font-family: 'Open Sans', sans-serif;
  }
}