/* TIMELINE */

.timeline {

 padding-bottom: 8px;
	}
.timeline h2 {
position: relative; 
margin-bottom: 1em;

		}

.timeline h2 [class^="icon-"], .timeline h2 [class*=" icon-"], .timeline h2 .fa {
display: block; 
font-size: 55px; 
position: absolute; 
top: -15px; 
left: -87px; 
width: 86px; 
padding-right: 10px;
margin: 0;  
z-index: 120;
	}
.timeline h2 [class^="icon-"]:before, .timeline h2 [class*=" icon-"]:before, .timeline h2 i.fa:before {
margin:0; 

	}		
.event {
	position: relative;
	padding: 26px 32px; 
	margin-bottom: 4em; 
	background: #ffffff; 
	border: 1px solid #DDE4E6; 
	/*left:50px;*/
	
	}
.event:after,
.event:before {
 	right: 100%; 
 	top: 50%; 
 	border: solid transparent; 
 	content: " ";
 	height: 0; 
 	width: 0; 
 	position: absolute; 
  	pointer-events: none;
	}
.event:after {
 	border-right-color: #ffffff; 
 	border-width: 10px; 
 	margin-top: -10px;
	}
.event:before {
 	border-right-color: #DDE4E6; 
 	border-width: 15px; 
 	margin-top: -15px;
	}
	.event .date {
		position: absolute; 
		top: 45%; 
		margin-top: -24px; 
		left: -82px; 
		width: 68px; 
		line-height: 58px; 
		text-align: center; 
		background: #d0d4ec; 
		display: block; 
		z-index: 120; 
		color: #fff; 
		border-radius: 50%; 
		border: 5px solid #FFF; 
		font-family: Oswald; 
		font-weight: 400;
		}
	.event.current .date {
		border-color: #a2a9fe;
		outline: 1px solid #FFF; 
		background-color: #a2a9fe;
		border-radius: 50%;
		}
	.timeline + .timeline .event:last-child p:before {
		height: 76%
		}
	.event h4 {
		font-weight: 400; 
		margin: 0; 
		padding: 0;
		color: #a2a9fe;
		}
	.event h5 {
		margin: 0; 
		padding: 0 0 .3em 0; 
		font-size: 0.9em; 
		text-transform: uppercase; 
		font-weight: 800; 
		color: #d1dbdc;
		}
	.event p {
		margin: .6em 0 .2em 0
		}
	.event p:before {
		display: block; 
		content: ""; 
		position: absolute; 
		top: -30px; 
		left: -47px; 
		height: 160%; 
		width: 4px; 
		background: #DDE4E6;
		}

		@media screen and (max-width: 908px) { 
/* timeline */
	.timeline {
		padding-left: 0; 
		}
	.timeline h2 [class^="icon-"], .timeline h2 [class*=" icon-"], .timeline h2 .fa {
		display:none;
		}
	.event {
		padding: 16px; margin-top: 104px;
		}
	.event:first-of-type {
		margin-top: 116px; 
		}
	.event:first-of-type .date {
		top: -74px; 
		}
	.event:before, .event:after {
		display: none; 
		}
	.event .date {
		top: -64px; left: 50%; margin-left: -32px; 
		}
	.timeline h2, .event h4, .event h5 {
		text-align: center; 
		}
	.event p:before {
		left: 50%; z-index: -1; 
		}
	.timeline .event:last-child p:before {
		height: 100%;
		}
	

.ss_box_content{padding:0}

#promotion{
  position:absolute;
  top:290px;
  left:440px;
  width:360px;
  z-index:0;
}

#promotion label{
  color:#444;
  font-family:"Century Gothic", Arial, sans-serif;
  font-weight:100;
  font-size:12px;
  width:100px;

}

#promotion input{
  background:#e1e1e1;
  border:none;
  height:15px;
  padding:3px;
  width:150px;
}

#disclaimer_promotion,
#promotion_facebook_id_block{display:none}
#promotion_custom_field_1_block{
  position:absolute;
  top:10px;
  left:10px
}

#promotion_email_block{
  position:absolute;
  top:65px;
  left:10px;
}

#promotion_phone_block{
  position:absolute;
  top:115px;
  left:10px;
}

#promotion_custom_field_3_block{
  position:absolute;
  top:10px;
  left:190px;
}

#promotion_custom_field_4_block{
  position:absolute;
  top:65px;
  left:190px;
}

#promotion_image_block{
  position:absolute;
  top:115px;
  left:190px;
}

#promotion_image_block label{display:none}

.ss_btn.ss_file{
  background-color:transparent;
  background-image:url(https://d2xcq4qphg1ge9.cloudfront.net/assets/3382/2438854/original_uploadFromPC.png);
  background-repeat:no-repeat;
  border:none;
  height:77px;
  padding:0;
  text-indent:-9999px;
  width:82px;
}

.ss_btn.ss_fb{
  background-color:transparent;
  background-image:url(https://d2xcq4qphg1ge9.cloudfront.net/assets/3382/2438853/original_uploadFromFB.png);
  background-repeat:no-repeat;
  border:none;
  height:77px;
  padding:0;
  text-indent:-9999px;
  width:82px;
}

.ss_btn.form_submit{
  background-color:transparent;
  background-image:url(https://d2xcq4qphg1ge9.cloudfront.net/assets/3382/2438857/original_submitButton.png);
  background-repeat:no-repeat;
  border:none;
  display:block;
  height:43px;
  left:10px;
  position:absolute;
  top:180px;
  text-indent:-9999px;
  width:149px;
}

#promotion label.error{
  color:#c30000;
  font-size:10px;
  width:auto;
}

#message_promotion{position:absolute; top:215px; left:10px;}
#message_promotion p{color:#c30000; font-family:"Century Gothic", Arial, sans-serif; font-weight:100; font-size:13px;}


/* voting */

#voting{
  position:absolute;
  top:165px;
  left:285px;
}

.ss_voting_content .my_db_entry{
  border:none;
  clear:none;
  height:100px;
  float:left;
  margin:5px 15px 5px 10px;
  width:100px;
}

.entry_photo img{height:90px; width:100px}

.entry_custom_field_1,
.itemActions li a{font-family:"Century Gothic", Arial, sans-serif; font-weight:100;text-align:center;}

.itemActions{text-align:center;}

.itemActions li{padding:0 10px 0 0}
.entry_details{margin:0}

.entry_actions .vote_link{padding:0}
.entry_actions .vote_link.vote,
.entry_actions .vote_link.voting,
.entry_actions .vote_link.voted{
  background:none;
}

.entry_actions .vote_link.voted{color:#999999}

.image_zoom{
  background:#d1c287;
  border:2px solid #fff;
  margin:0 auto;
  text-align:center;
  padding:5px;
  width:400px!important;
}

.image_zoom img{max-width:400px}


/* popup */

.boxy-wrapper{
  background:#fff;
  box-shadow:0 0 10px #333;
  top:105px!important;
}

.boxy-wrapper .title-bar{background:#fff}
.boxy-wrapper .title-bar .close{
  background:url(https://d2xcq4qphg1ge9.cloudfront.net/assets/3382/1806283/original_close-btn.png) no-repeat;
  display:block;
  height:25px;
  width:25px;
}


/* pagination */

.pagination{
  position:absolute;
  top:280px;
  left:9px;
 
}

.prev_page,
.next_page{
  background:url(https://d2xcq4qphg1ge9.cloudfront.net/assets/3382/2005469/original_left-disabled.png) no-repeat;
  display:block;
  height:44px;
  text-indent:-9999px;
  position:absolute;
  top:-175px;
  left:-25px;
  width:15px;
 
}

.next_page{
  background:url(https://d2xcq4qphg1ge9.cloudfront.net/assets/3382/2005466/original_right-disabled.png) no-repeat;
  left:490px;
}


.disabled.prev_page{background:url(https://d2xcq4qphg1ge9.cloudfront.net/assets/3382/2005469/original_left-disabled.png)}
.next_page.disabled{background:url(https://d2xcq4qphg1ge9.cloudfront.net/assets/3382/2005466/original_right-disabled.png)}

.pagination a,
.pagination .current{
  color:#bb082f;
  font-family:"Century Gothic", Arial, sans-serif;
  font-size:12px;
  font-weight:bold;
  text-decoration:underline;
  
}

.pagination .current,
.pagination a:hover{color:#77071f; text-decoration:none}



/* twitter feed */

#twitter{
  height:240px;
  overflow-y:scroll;
  padding-right:10px;
  position:absolute;
  top:180px;
  left:290px;
  width:500px;
  display:none;
}

#twitter-widget-0{
top:170px;

}

.timeline
/* instagram feed */
iframe{
  position:absolute;
  top:140px;
  left:280px;
}


.ss_not_found{display:none}


<iframe src="https://snapwidget.com/p/widget/?id=BBm8Io6Bjj&t=926" title="Instagram Widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:550px; height:267px"></iframe>

https://socializeapplications.com/maf/snap-widget/style.css



.pagination .next a, .pagination .prev a {
    color: #5597B2;
    height: 41px;
    line-height: 24px;
    position: absolute;
    right: 0px;
    text-indent: -999px;
    top: 166px;
    width: 20px;


}

.pagination{
  position:absolute;
  top:280px;
  left:9px;
 
}

.next a {
	background:url(https://d2xcq4qphg1ge9.cloudfront.net/assets/3382/2005466/original_right-disabled.png)
}

.prev a{
    right: auto !important;
    left: 0px !important;
    background:url(https://d2xcq4qphg1ge9.cloudfront.net/assets/3382/2005469/original_left-disabled.png)

}

.prev ,
.next {
  background:url(https://d2xcq4qphg1ge9.cloudfront.net/assets/3382/2005469/original_left-disabled.png) no-repeat;
  display:block;
  height:44px;
  text-indent:-9999px;
  position:absolute;
  top:-175px;
  left:-25px;
  width:15px;
 
}