// Font Declarations

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Raleway:400,700');

@font-face {
  font-family: 'Raleway', sans-serif;
}

@font-face {
  font-family:  'Cutive Mono', monospace;
}

//Font Variable Declarations
$font-global: 'Cutive Mono';
$font-headers: 'Raleway';

//Font size variables

$font-size-base: 14px !default;
$font-size-large: 18px;
$font-size-xlarge: 23px;
$font-size-xxlarge: 30px;
$font-size-small: 12px;
$font-size-medium: 16px;