.project {
  &__container {
    display: grid;
    grid-template-columns: 20% 80%;
  }
  &__wrapper {
    a {
      text-decoration: none;
    }
  }
  &__image {
    width: 150px;
    height: 150px;
    margin-right: 40px;
  }
  &__tabs {
    font-size: 18px;
    padding-bottom: 0;
    padding-right: 0;
    font-family: $font-headers;
  }
  &__title {
    font-weight: 400;
    line-height: 1.18182em;
    letter-spacing: .02em;
    color: $gray-text-color;
    margin: 5px auto;
    transition: all .2s;
    position: relative;
    z-index:5;
  }
  &__caption {
    font-size: 1vw;
    line-height: 1.33333em;
    margin: 5px auto;
  }
  &__link {
    display: inline-block;
    border: 1px solid rgba(0,0,0,.2);
    padding: 8px 16px;
    margin-top: 10px;
    font-size: 12px;
    &:hover {
      border-color: rgba(0,0,0,.8);
      transition: .2s;
    }
  }
}