.project {
  &__container {
    background-image: url('./bg-isobar.png');
  }
  &__wrapper {
    padding: 2.08333vw 4.16667vw;
    &:hover {
      cursor: pointer;
      .project__image__skew {
        transform: skewY(3deg);
      }
      .project__title {
        color: $color-primary;
      }
    }
  }
  &__image {
    width: 100%;
    &__skew {
      background-color: white;
      position: relative;
      height: 8%;
      bottom: 20px;
      transform: skewY(-3deg);
      transition: all .85s;
      margin-bottom: -22px;
    }
  }
  &__tabs {
    padding: 2.08333vw 1.91667vw;
    font-size: 18px;
    padding-bottom: 0;
    padding-right: 0;
    font-family: $font-headers;
  }
  &__title {
    font-weight: 400;
    font-size: 1.46667vw;
    line-height: 1.18182em;
    letter-spacing: .02em;
    color: $gray-text-color;
    margin: 5px auto;
    transition: all .2s;

  }
  &__caption {
    font-size: 1vw;
    line-height: 1.33333em;
    margin: 5px auto;
  }
}