@media (max-width: 768px) {
  .intro {
    &__container {
      width: 100%;
    }
    &__caption {
      padding: 20px;
      margin-top: 0;
    }
    &__title {
      margin-top: 0;
      font-size: 25px;
      line-height: 1.24em;
    }
  }
}