.intro {
  &__container {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-gap: 16px;
    padding: 24px;
    height: 100vh;
    justify-content: center;
    align-items: center;
  }

  &__caption {
    //padding: 0 5vw;
    //margin-top: 20vh;
    //position: fixed;
    //width: 40%;
  }
}