.row
    .section.intro__wrapper.col-md-12
        //.funfetti__wrapper
        //    .funfetti.funfetti--round.left-20.bottom-20
        //    .funfetti.funfetti--triangle.left-45.bottom-25.rotate-110
        //    .funfetti.funfetti--donut.left-100.bottom-35
        //    .funfetti.funfetti--cross.left-30.bottom-20.rotate-110
        //    .funfetti.funfetti--round.left-40
        //    .funfetti.funfetti--triangle.bottom-45.rotate-90
        //    .funfetti.funfetti--donut.left-45.bottom-35
        //    .funfetti.funfetti--cross.left-65.rotate-30
        .col-md-6.col-sm-12.intro__left
            p.wow.fadeInUp(data-wow-delay="0.1s" style="margin-bottom:-2rem")
                | Lorem
                br
            p.wow.fadeInUp(data-wow-delay="0.2s")
                | Ipsum
        .col-md-6.col-sm-12.intro__right.wow.fadeInUp(data-wow-delay="0.2s")
            p="Lorem ipsum dolor sit amet, onsectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."