nav.navbar
     button.navbar-toggler.hidden-sm-up(type='button', data-toggle='collapse', data-target='#responsiveCollapse')
         | ☰
     #responsiveCollapse.collapse.navbar-toggleable-xs
         // class .navbar-toggleable-*
         a.navbar-brand(href='#')
             img(src="http://omguhh.github.io/img/logo.png")
         ul.nav.navbar-nav
             li.nav-item.active
                 a.nav-link(href='#') Work
             li.nav-item
                 a.nav-link(href='#') About
             li.nav-item
                 a.nav-link(href='#') Contact